<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name=keywords content=柳州少儿编程学习、信息学奥林匹克、奇贝编程、>
        <meta name=description content=广西柳州首家少儿编程学习培训机构，领先的少儿编程培训品牌，积木式通关化的课程设计，寓教于乐，让孩子轻松掌握编程知识，提升逻辑思维！（www.qbcode.cn）！>
        <!-- <meta name=viewport content="width=device-width,initial-scale=1"> -->
        <meta content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" name=viewport>
        <meta http-equiv="X-UA-Compatible" content="edge,chrome=1" />
        <meta http-equiv="cache-control" content="max-age=86400" />
        <meta http-equiv="Pragma" content="max-age=86400" />
        <title>奇贝少儿编程</title>
        <link rel="stylesheet" href="./static/css/clear.css" />
        <link rel="shortcut icon" href="./static/images/favicon.ico">
        <script type="text/javascript" src="./static/js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="./static/js/layer/layer.js"></script>
    </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
